name: dynamic_timeline
description: A widget to create daily timelines, timetables, gantt charts* and more.
version: 0.1.2
repository: https://github.com/IvanHerreraCasas/dynamic_timeline

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.0
  shouldly: ^0.5.0+1
  very_good_analysis: ^5.0.0