name: dynamic_timeline
description: A widget to create daily timelines, timetables, gantt charts* and more.
version: 0.1.2
repository: https://github.com/IvanHerreraCasas/dynamic_timeline

environment:
  sdk: ">=2.16.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^3.0.0